@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

main {
    margin: 0px;
    margin-left: 60px;
    margin-right: 60px;
}

.container {
    margin: 0px;
    margin-left: 60px;
    margin-right: 60px;
}

.first-word {
    color: red;

}

.second-word {
    color: black;
}

.section {
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}

.section img {
    width: 300px;
}

#talent img {
    float: right;
}

#orientation img {
    float: left;
    margin-right: 30px;
}

#board img {
    float: right;
    margin-left: 30px;
}

#graduation img {
    float: left;
    margin-right: 30px;
}

.final {
    background-color: rgb(184, 184, 184);
    margin: 0px;
    text-align: center;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.teams {
    display: block;
    margin: 0 auto;
    column-count: 4;
    column-gap: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

.teams img {
    display: inline-block;
    top: 0px;
    margin: 0px;
    width: 250px;
    height: 150px;
    margin-right: 12px;
}

p.final {
    position: relative;
    top: 50%;

    transform: translate(-50%, -50%);
}