@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

/*logo*/
#school-name {
    margin-top: 32px;
    display: inline-block;
    width: 300px;


}

/*logo name size */
#school-name p {
    font-size: 30px;
    font-weight: 700;
}

/*navigation bar */
nav {
    display: inline-flex;
    float: right;
    margin-right: 50px;
    margin-top: 60px;
    font-weight: 500;

}

nav button {
    margin-left: 50px;
}

main {
    margin: 0px;
    margin-left: 60px;
    margin-right: 60px;
}

.container {
    margin: 0px;
    margin-left: 60px;
    margin-right: 60px;
}

.first-word {
    color: #EC4067;

}

.second-word {
    color: black;
}

a {
    text-decoration: none;
    color: #EC4067;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-top: 7px;
}

li {
    display: inline-block;
}

/* buttons */
button {
    display: inline-block;
    border: none;
    background-color: #EC4067;
    margin-right: 13px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 6px;
    color: white;
    margin-top: 0px;
    margin-left: 12px;
}

button.active {
    padding: 8px 20px;
    border: solid 1px #EC4067;
    background-color: white;
    color: #EC4067;
    border-radius: 0px;
}



.section {
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
}

.section img {
    width: 300px;
}

#talent img {
    float: right;
}
#orientatio{
    margin-top: 0px;

}
#orientation img {
    float: left;
    margin-right: 20px;
}
#project img{
    float: right;
    margin-right: 20px;
}
/*text bg style*/
.stories h2:nth-child(1){
    display: inline-block;
    background:linear-gradient(to right, rgba(228, 227, 227, 0.63) 20%, white 50%);
    margin-right: 6px;
    margin-bottom: 0px;
}
/*text bg style*/
.teams h2:nth-child(1){
    display: inline-block;
    background:linear-gradient(to right, rgba(228, 227, 227, 0.63) 20%, white 50%);
    margin-right: 6px;
    margin-bottom: 0px;
}
/*text bg style*/
.project h2:nth-child(1) {
    display: inline-block;
    background: linear-gradient(to right, rgba(228, 227, 227, 0.63) 20%, white 50%);
    margin-right: 6px;
    margin-bottom: 0px;
}


#board img {
    float: right;
    margin-left: 30px;
}

#graduation img {
    float: left;
    margin-right: 30px;
}

.final {
    background-color: rgb(184, 184, 184);
    margin: 0px;
    text-align: center;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* teams section box*/
.teams {
    display: block;
    margin:  0 auto;
    column-count: 4;
    column-gap: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.teams img {
    display: inline-block;
    top: 0px;
    margin: 0px;
    width: 240px;
    height: 140px;
    margin-right: 12px;
}
#last-section{
    font-size: 22px;
}
#last-section h2{
        color: #EC4067;
        font-weight: lighter;
        font-size:xx-large;
        margin-bottom: 2px;
        margin-bottom: 12px;

}

p.final {
    position: relative;
    top: 50%;

    transform: translate(-50%, -50%);
}




.explore{
    display: inline-block;
    border: solid;
    border-color: #EC4067;
    margin-right: 13px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 6px;
    color: #EC4067;
    margin-top: 0px;
    margin-left: 10px;
    background-color: white;
    
}

.image{
    margin: 3%;
            position: relative;
}
.name{
    position: absolute;
            bottom: 5px;
            left: 10px;
            color: white;
}